<section class="vision-cta-wave">
    <div class="vision-cta-wave__background">
        <span class="vision-cta-wave__blob vision-cta-wave__blob--one"></span>
        <span class="vision-cta-wave__blob vision-cta-wave__blob--two"></span>
        <span class="vision-cta-wave__blob vision-cta-wave__blob--three"></span>
        <span class="vision-cta-wave__blob vision-cta-wave__blob--four"></span>
    </div>

    <div class="vision-cta-wave__content">
        <h2 class="vision-cta-wave__title">
            Create something
            <br />
             unforgettable.
        </h2>

        <link-button
            [bgColor]="'#f4e44a'"
            [txtColor]="'#111111'"
            [theme]="'black'"
            [content]="'Get Started'"
            [width]="'205px'"
            [height]="'62px'"
            [fontSize]="'1.15rem'"
            [fontWeight]="'500'"
            [txtSlide]="'-15px'"
            [arrowSlide]="'-15px'"
        ></link-button>
    </div>
</section>