<section class="faq-support-banner">
  <div class="faq-support-banner__inner">

    <div class="faq-support-banner__content">
      <p class="faq-support-banner__eyebrow">Need more help?</p>

      <h2>
        Still can’t find what you need?
      </h2>

      <p class="faq-support-banner__text">
        Talk to our team or explore step-by-step tutorials to guide you through everything.
      </p>

      <div class="faq-support-banner__actions">
        <link-button
            [bgColor]="'#2F6B3F'"
            [txtColor]="'white'"
            [theme]="'white'"
            [content]="'Contact Support'"
            [width]="'250px'"
        ></link-button>
        <link-button
            [bgColor]="'#fffff'"
            [txtColor]="'black'"
            [theme]="'white'"
            [content]="'View Tutorials'"
            [width]="'250px'"
            [border]="'2px solid #2F6B3F'"
            [arrowFilter]="'invert(1)'"
        ></link-button>
      </div>
    </div>


  </div>
</section>