<section class="contact-hero">
  <div class="hero-background">
    <div class="gradient-orb orb-1"></div>
    <div class="gradient-orb orb-2"></div>
  </div>

  <div class="contact-hero__container">
    <div class="contact-hero__content">

      <h1 class="contact-hero__title">
        Let’s talk about your next big idea
      </h1>

      <p class="contact-hero__subtitle">
        Have a question, a project in mind, or just want to say hello? We’re
        here to help and would love to hear from you.
      </p>

      <link-button
        [bgColor]="'#2d3a56 '"
        [txtColor]="'white'"
        [theme]="'white'"
        [content]="'Send a Message'"
        [width]="'230px'"
      ></link-button>
    </div>

  </div>
</section>