:host {
    max-width: 2000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}

.title {
    font-size: 6em;
    margin: 0;
    margin-bottom: -0.2em;
    text-align: center;
}

.title > span {
    background: linear-gradient(90deg, #5f4dff, #bab2ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.subtitle {
    text-align: center;
    font-size: 1.7em;
    margin-top: 0;
}


button {
    margin-top: 50px;
}

.bottom {
    margin-top: 20px;
    position: relative;
    pointer-events: none;
}

.bottom .img1 {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    filter: drop-shadow(0 4px 8px rgba(0,0,0,0.1));
}

.moving-animation {
    position: absolute;
    bottom: 10%;
    left: 10%;
    animation: cardMove 4s ease-in-out alternate infinite;
}

.cursor {
    position: absolute;
    right: -30px;
    bottom: 30px;
    transform-origin: top left;
    animation: cursorMove 4s ease-in-out alternate infinite;
}

.glow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150%;
    padding-bottom: 90%;
    border-radius: 50%;
    background: radial-gradient(ellipse at center, #604eff66 0%, #604eff33 40%, transparent 70%);
    filter: blur(60px);
    z-index: -1;
    pointer-events: none;
}

@keyframes cardMove {
    0%, 30% { transform: translateX(0px); }
    50%, 100% { transform: translateX(100px); }
}

@keyframes cursorMove {
    0%   { transform: translateX(0px)   scale(1);    }
    30%, 60% { transform: translateX(-30px)   scale(1.25);}
    90%, 100% { transform: translateX(0px) scale(1); }
}