:host {
  display: block;
  height: 100%;
}

.settings-content {
  min-height: 100%;
  overflow-y: auto;
  padding: 20px;
}

:host-context(.theme-dark) {
  background: #0f141d;
}

:host-context(.theme-dark) .settings-content {
  background: #0f141d;
}
