<section>
    <div class="top">
    <h2 class="title">Create a <span>Blog</span> worth sharing</h2>
    <p class="subtitle">Get a full suite of intuitive design features and powerful marketing tools to create a unique blog that leaves a lasting impression.</p>
    <link-button
            [bgColor]="'#7566ff'"
            [txtColor]="'white'"
            [theme]="'white'"
            [content]="'Get Started'"
    ></link-button>
    </div>
    <div class="bottom">
        <img src="assets/Blog Showcase/hero.svg" alt="IMG_NOT_FOUND">
    </div>
</section>