<section>
    <div class="top">
        <h2 class="title">{{ 'landing.hero.titlePrefix' | t }} <span>{{ 'landing.hero.titleEmphasis' | t }}</span></h2>
        <p class="subtitle">{{ 'landing.hero.subtitle' | t }}</p>
        <link-button
                [bgColor]="'#7566ff'"
                [txtColor]="'white'"
                [theme]="'white'"
                [content]="'landing.cta.getStarted' | t"
        ></link-button>
    </div>
    <div class="bottom">
        <img class="img1" src="assets\Landing Page\Hero Section\main.svg" alt="IMG_NOT_FOUND">
        <div class="moving-animation">
            <img class="img2" src="assets\Landing Page\Hero Section\component.svg" alt="IMG_NOT_FOUND">
            <img class="cursor" src="assets\Landing Page\Hero Section\cursor.svg" alt="IMG_NOT_FOUND">
        </div>  
    </div>
</section>
