<section>
    <div>
        <img class="logo" src="assets\Landing Page\FormaLogo.svg" alt="Forma Logo">
        <div class="flx spc-btw">
            <p class="left">Everything you need to build, launch, and grow without writing a single line of code.</p>
            <div class="right">
                <p>Forma combines powerful tools with an intuitive interface so you can design, customize, and launch professional websites in minutes — no technical skills required.</p>
                <button class="btn">Get Started</button>
            </div>
        </div>
    </div>
</section>
