<section>
    <div>
        <img class="logo" src="assets\Landing Page\FormaLogo.svg" alt="Forma Logo">
        <div class="flx spc-btw">
            <p class="left">{{ 'landing.features.ledeLeft' | t }}</p>
            <div class="right">
                <p>{{ 'landing.features.ledeRight' | t }}</p>
                <link-button
                    [bgColor]="'#000'"
                    [txtColor]="'white'"
                    [theme]="'white'"
                    [content]="'landing.cta.getStarted' | t"
                    [routerLink]="'/login'"
                ></link-button>
            </div>
        </div>
    </div>
    <div class="features">
        <div class="feature1">
            <h4 class="title">{{ 'landing.features.cards.dragDrop.title' | t }}</h4>
            <p>{{ 'landing.features.cards.dragDrop.body' | t }}</p>
        </div>
        <div class="feature2">
            <h4 class="title">{{ 'landing.features.cards.responsive.title' | t }}</h4>
            <p>{{ 'landing.features.cards.responsive.body' | t }}</p>
        </div>
        <div class="feature3">
            <h4 class="title">{{ 'landing.features.cards.domains.title' | t }}</h4>
            <p>{{ 'landing.features.cards.domains.body' | t }}</p>
        </div>
        <div class="feature4">
            <h4 class="title">{{ 'landing.features.cards.publishing.titleLine1' | t }} <br>{{ 'landing.features.cards.publishing.titleLine2' | t }}</h4>
            <p>{{ 'landing.features.cards.publishing.body' | t }}</p>
        </div>
    </div>
</section>
