<section class="blog-cta">
    <div class="blog-cta__background">
        <span class="blog-cta__blob blog-cta__blob--one"></span>
        <span class="blog-cta__blob blog-cta__blob--two"></span>
        <span class="blog-cta__blob blog-cta__blob--three"></span>
        <span class="blog-cta__blob blog-cta__blob--four"></span>
    </div>

    <div class="blog-cta__content">
        <h2 class="blog-cta__title">
            Create a blog that<br>inspires.
        </h2>

        <link-button
            [bgColor]="'#0d3d4a'"
            [txtColor]="'#ffffff'"
            [theme]="'white'"
            [content]="'Start Blogging'"
            [width]="'220px'"
            [height]="'58px'"
            [fontSize]="'1rem'"
            [fontWeight]="'500'"
            [txtSlide]="'-15px'"
            [arrowSlide]="'-15px'"
        ></link-button>
    </div>
</section>