<section class="templates-showcase">
    <div class="templates-showcase_intro">
        <div class="templates-showcase_intro_left">
            <p>Launch faster with professionally designed templates ready to customize.</p>
        </div>

        <div class="templates-showcase_intro_right">
            <p>
                Our free website builder offers 2000+ website templates, all fully customizable and ready for
                business.
            </p>
            <link-button
                [bgColor]="'#7566ff'"
                [txtColor]="'white'"
                [theme]="'white'"
                [content]="'Get Started'"
            ></link-button>
        </div>
    </div>

    <div class="telplate-showcase_slider" #slider>
        @for (template of templates; track template.image) {
            <article class="template_card">
                <div class="template_card_image_wrap">
                    <img [src]="template.image" [alt]="template.category" class="template_card_image">

                    <div class="template_card_overlay"></div>

                    <a href="#" class="template_card_view_btn">View</a>
                </div>
                
                <div>
                    <a href="#" class="template_card_category_link">
                        <span>{{ template.category }}</span>
                        <span class="template_card_category_arrow">→</span>
                    </a>
                </div>
            </article>
        }
        
    </div>
</section>