<section class="portfolio-cta">
    <div class="portfolio-cta__background">
        <span class="portfolio-cta__blob portfolio-cta__blob--one"></span>
        <span class="portfolio-cta__blob portfolio-cta__blob--two"></span>
        <span class="portfolio-cta__blob portfolio-cta__blob--three"></span>
        <span class="portfolio-cta__blob portfolio-cta__blob--four"></span>
    </div>

    <div class="portfolio-cta__content">
        <h2 class="portfolio-cta__title">
            Get the attention your<br>work deserves.
        </h2>

        <link-button
            [bgColor]="'#1a3a5c'"
            [txtColor]="'#ffffff'"
            [theme]="'white'"
            [content]="'Create Your Portfolio'"
            [width]="'280px'"
            [height]="'58px'"
            [fontSize]="'1.2rem'"
            [fontWeight]="'500'"
            [txtSlide]="'-15px'"
            [arrowSlide]="'-15px'"
        ></link-button>
    </div>
</section>