<section class="portfolio-cta">
    <div class="portfolio-cta__content">
        <h2 class="portfolio-cta__title">
            Get the attention your<br>work deserves.
        </h2>

        <link-button
            [bgColor]="'#1a3a5c'"
            [txtColor]="'#ffffff'"
            [theme]="'white'"
            [content]="'Create Your Portfolio'"
            [width]="'240px'"
            [height]="'58px'"
            [fontSize]="'1rem'"
            [fontWeight]="'500'"
            [txtSlide]="'-15px'"
            [arrowSlide]="'-15px'"
        ></link-button>
    </div>
</section>