@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

body {
    font-family: 'Poppins', sans-serif;
}

.flx {
    display: flex;
}

.spc-btw {
    justify-content: space-between;
    gap: 20px;
}

.btn {
    background: #000;
    padding: 10px 20px;
    color: #fff;
    border-radius: 40px;
    font-size: 1.1em;
    cursor: pointer;
    transition: opacity 0.2s ease;
}

.btn:hover {
    opacity: 0.95;
}

.btn:active {
    transform: scale(.95);
}

.purple {
    background-color: #7566ff;
}
