<section class="social-cta-section">
  <div class="social-block">
    <div class="social-block__container">
      <h2 class="social-block__title">Follow Us</h2>

      <div class="social-grid">
        <a class="social-item" href="#" aria-label="LinkedIn">
          <img src="assets/Socials/linkedin.svg" alt="LinkedIn" style="height: 30px;"/>
        </a>

        <a class="social-item" href="#" aria-label="Facebook">
          <img src="assets/Socials/facebook.svg" alt="Facebook" style="height: 30px;"/>
        </a>

        <a class="social-item" href="#" aria-label="Instagram">
          <img src="assets/Socials/instagram.svg" alt="Instagram" style="height: 30px;"/>
        </a>

        <a class="social-item" href="#" aria-label="YouTube">
          <img src="assets/Socials/youtube.svg" alt="YouTube" style="height: 30px;"/>
        </a>

        <a class="social-item" href="#" aria-label="X">
          <img src="assets/Socials/x.svg" alt="X" style="height: 30px;">
        </a>
      </div>
    </div>
  </div>

  <div class="cta-banner">
    <div class="cta-banner__container">
      <h2 class="cta-banner__title">
        Create, manage and grow your<br />
        online presence with Forma.
      </h2>

      <button class="cta-banner__button" type="button">
        Get started!
      </button>
    </div>
  </div>
</section>