<section>
    <div>
        <img class="logo" src="assets\Landing Page\FormaLogo.svg" alt="Forma Logo">
        <div class="flx spc-btw">
            <p class="left">What every plan gets you</p>
            <div class="right">
                <p>Choose a plan that fits your needs today and scale as you grow. All plans include everything you need to design, launch, and manage your website with confidence.</p>
                <button class="btn">
            <span class="btn-text">Get Started</span>
            <img class="btn-arrow" src="assets\Landing Page\Hero Section\arrow-right.svg" alt="">
        </button>
            </div>
        </div>
    </div>
    <div class="features">
        <div class="feature1">
            <h4 class="title">+100 <br>templates</h4>
            <p class="sub-title">Choose a template that fits your industry and then customize every detail with the drag-and-drop editor.</p>
        </div>
        <div class="feature2">
            <h4 class="title">Reliable web hosting</h4>
            <p class="sub-title">Enjoy free web hosting with advanced security monitoring and 99.99% uptime for maximum reliability.</p>
        </div>
        <div class="feature3">
            <h4 class="title">In-depth analytics</h4>
            <p class="sub-title">Access reports to track store performance and identify optimisation opportunities.</p>
        </div>
        <div class="feature4">
            <h4 class="title">Powerful <br> business tools</h4>
            <p class="sub-title">Run your business with powerful tools to help you manage a store, create a blog, set up payments and more.</p>
        </div>
    </div>
</section>
